<div class="logo"></div>

<style>

body, html, #__nuxt {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 3.7rem;
  height: 3.7rem;
  background-image: url('./brand.svg');
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade 9s ease infinite;
}

@keyframes fade { 
  from { 
    opacity: 0;
  } to { 
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .logo {
    width: 4.3rem;
    height: 4.3rem;
  }
}

</style>
  
 
  