<div class="logo"></div>

<style>

body, html, #__nuxt {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.logo {
  width: 3.7rem;
  height: 3.7rem;
  background-image: url('./brand2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  animation: spin 2.7s cubic-bezier(.28,1.91,.3,.39) infinite;
  opacity: 1;
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(720deg); 
    }
}

@media (min-width: 1024px) {
  .logo {
    width: 4.3rem;
    height: 4.3rem;
  }
}

</style>
  
 
  