/* ####### TOPBAR ####### */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9995;
  height: 3.3rem;
  width: 100%;
  background: transparent;
  transition: var(--main-transition);
  & .topbar-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    & .back-box {
      padding: .8rem 7% .8rem 7%;
      & .__back-btn {
        display: block;
        margin: auto;
        cursor: pointer;
        width: 1.27rem;
        height: auto;
      }
    }
    & .share-box {
      padding: .7rem 7% .7rem 7%;
      & .__share-btn {
        display: block;
        margin: auto;
        cursor: pointer;
        width: 1.6rem;
        height: auto;
      }
    }
  }
}

.id-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  padding: 0 7%;
  margin-top: .5rem;
}

.item-title {
  font-weight: 600;
  font-size: 16px;
  padding: 3rem 7% .5rem 7%;
  user-select: none;
}

.avaliacoes-title {
  display: flex;
  align-items: center;
  padding: 4rem 7% 2rem 7%;
  & .__title {
    font-weight: 600;
    font-size: 20px;
    user-select: none;
    padding-right: 1.2rem;
  }
  & .rating {
    display: flex;
    align-items: center;
    transform: translateY(2px);
    & .rating-number {
      font-size: 16px;
      font-weight: 600;
      padding-left: 3px;
    }
  }
}

@media (min-width: 1024px) {
  .topbar {
    display: none;
  }
  
  .id-title {
    font-weight: 700;
    font-size: 33px;
    line-height: 42px;
    padding: 0;
    margin: .4rem 0 1rem 0;
  }

  .item-title {
    font-size: 18px;
    font-weight: 600;
    padding: 4.5rem 0 1rem 0;
    user-select: none;
  }

  .avaliacoes-title {
    padding: 5rem 0 2.5rem 0;
    & .__title {
      font-size: 26px;
    }
    & .rating {
      & .rating-number {
        font-size: 17px;
        padding-left: 3px;
      }
    }
  }
}