/* ####### TOPBAR ####### */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 3rem;
  width:  100%;
  background: transparent;
  padding: 0 7%;
  transition: all .5s ease;
  & .topbar-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    & .__back-btn {
      cursor: pointer;
      width: 1.05rem;
      height: auto;
    }
    & .__share-btn {
      cursor: pointer;
      width: 1.5rem;
      height: auto;
    }
  }
}

.topbarBg {
  background: white !important;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}
.topbarBtn {
  filter: invert(75%);
}
/* ####### TOPBAR ####### */


.id-title {
  font-size: 27px;
  font-weight: 700;
  padding: 0 7%;
  margin: 1rem 0 0 0;
}

.item-title {
  font-weight: 700;
  font-size: 15px;
  padding: 3rem 7% .5rem 7%;
  user-select: none;
}


/* TRANSITIONS */
.topbar-animation-enter,
.topbar-animation-leave-active {
  transform: translateY(-100%);
}