:root {
  --navbarHeightMobile: 3.5rem;
  --navbarHeightDesktop: 4.5rem;

  /* _______ FONTS _______ */
  --main-font: 'Montserrat', sans-serif;

  /* _______ COLOR PALETTE _______ */
  --color01: rgb(22, 22, 22);
  --colorAcomod: #FFA04F;
  --colorPasseio: #198CFE; /* #0784FD for cards info */
  --colorEvento: #FF7E65;
  --colorRestaurante: #fc5656;
  --colorAtracao: #81C784;

  /* _______ MAIN TRANSITION _______ */
  --pages-transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) all .3s;
  --main-transition: cubic-bezier(0.190, 1.000, 0.220, 1.000) all .6s;
}

html {
  font-family: var(--main-font);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: var(--color01);
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.box-flex-column {
  display: flex;
  flex-flow: column;
}

/* _______ TEXT _______ */
::selection {
  background: #FFF59D;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

li {
  list-style: none;
}

a a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
  color: var(--color01);
  outline: none !important;
  user-select: none;
}

button {
  font-family: var(--main-font);
  cursor: pointer;
  border: none;
  outline: none !important;
  user-select: none;
}

input {
  cursor: pointer;
  font-family: var(--main-font);
}

select {
  cursor: pointer;
  font-family: var(--main-font);
}

textarea {
  font-family: var(--main-font);
}

::placeholder {
  color: rgb(162,162,162);
  opacity: 1;
}

/* _______ PAGE TRANSITIONS _______ */
.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  transform: scale(1.05);
}

.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  transform: translateX(.95);
}

.opacity-leave-active, .opacity-enter {
  opacity: 0;
}

.id-enter { 
  transform: translateY(1.6rem);
}
.id-leave-active {
  opacity: 0;
}

/* _______ SIGN-IN BUTTONS _______ */
.google-btn {
  background-image: url('../img/google.svg');
  background-position: 15px;
  background-repeat: no-repeat;
  background-size: 21px;
  background-color: white;
  border: 1px solid #dedede;
  height: 2.5rem;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  transition: .15s border ease;
  text-align: left;
}
.google-btn:hover {
  border: 1px solid var(--color01);
}
.facebook-btn {
  background-image: url('../img/facebook-signin.svg');
  background-position: 15px;
  background-repeat: no-repeat;
  background-size: 21px;
  background-color: white;
  border: 1px solid #dedede;
  height: 2.5rem;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  transition: .15s border ease;
  text-align: left;
}
.facebook-btn:hover {
  border: 1px solid var(--color01);
}

/* _______ VUE.JS MODAL _______ */
.v--modal {
  border-radius: 5px !important;
}
.v--modal-overlay {
  z-index: 9999999 !important;
  background: rgba(255, 255, 255, .6) !important; 
}
.dialog-c-title {
  padding-top: .2rem !important;
  color: var(--color01) !important;
  font-size: 17px !important;
  font-weight: 600 !important;
}
.dialog-c-text {
  color: var(--color01) !important;
  font-size: 15px !important;
  line-height: 24px !important;
  padding-bottom: .5rem !important;
}
.vue-dialog-button {
  color: var(--color01) !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}
