@import url('../css/normalize.css');

:root {
  --navbarHeightDesktop: 4.5rem;
  /* ******* FONTS ******* */
  --main-font: 'Montserrat', sans-serif !important;
  --fontSizeAnuncioText: 16px;
  /* ******* COLOR PALETTE ******* */
  --color01: rgb(42, 42, 42);
  --colorAcomod: #FFA04F; /* #006561 for cards info #00D8C7*/ 
  --colorPasseio: #198CFE; /* #0784FD for cards info */
  --colorEvento: #FF7E65; /* #FF6089 cor bonita tbm */
  --colorRestaurante: #fc5656;
  --colorAtracao: #81C784;
  /* ******* MAIN TRANSITION ******* */
  --main-transition: cubic-bezier(0.190, 1.000, 0.220, 1.000) all .5s;
}

::selection {
  background: #FCF133;
}

html 
{
  font-family: var(--main-font);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: var(--color01);
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

*, *:before, *:after 
{
  box-sizing: border-box;
  margin: 0;
}

.box-flex-column {
  display: flex;
  flex-flow: column;
}

/* ******* TEXT ******* */

h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

/* ******* TEXT ******* */

button {
  font-family: var(--main-font);
  cursor: pointer;
  border: none;
  outline: none !important;
  user-select: none;
}

li {
  list-style: none;
}

a a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
  color: var(--color01);
  outline: none !important;
  user-select: none;
}

input {
  cursor: pointer;
  font-family: var(--main-font);
}

select {
  cursor: pointer;
  font-family: var(--main-font);
}

textarea {
  font-family: var(--main-font);
}
/* ******* CHECKBOX ******* */



/* ******* PAGE TRANSITIONS ******* */
.slide-left-enter,
.slide-right-leave-active 
{
  opacity: 0;
  transform: scale(1.05);
}

.slide-left-leave-active,
.slide-right-enter 
{
  opacity: 0;
  transform: translateX(.95);
}

.opacity-leave-active,
.opacity-enter 
{
  opacity: 0;
}


.id-enter { 
  transform: translateY(1.6rem);
}
.id-leave-active {
  opacity: 0;
}

/* ******* TEXT HIGHLIGHT COLOR ******* */
/* ::-moz-selection {
  background: rgb(122,122,122);
  color: white;
}
::selection {
  background: rgb(122,122,122);
  color: white;
} */

/* ******* SIGN IN BUTTONS ******* */
.google-btn {
  background-image: url('../img/google.svg');
  background-position: 15px;
  background-repeat: no-repeat;
  background-size: 21px;
  background-color: white;
  border: 1px solid rgb(222,222,222);
  height: 2.5rem;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  transition: .15s border ease;
}
.google-btn:hover{
  border: 1px solid rgb(72,72,72);
}
/* ******* FACEBOOK ******* */
.facebook-btn {
  background-image: url('../img/facebook.svg');
  background-position: 15px;
  background-repeat: no-repeat;
  background-size: 21px;
  background-color: white;
  border: 1px solid rgb(222,222,222);
  height: 2.5rem;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  transition: .15s border ease;
}
.facebook-btn:hover{
  border: 1px solid rgb(72,72,72);
}
/* ******* E-MAIL ******* */
.email-btn {
  background-image: url('../img/email.svg');
  background-position: 15px;
  background-repeat: no-repeat;
  background-size: 21px;
  background-color: white;
  border: 1px solid rgb(222,222,222);
  height: 2.5rem;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  transition: .15s border ease;
}
.email-btn:hover{
  border: 1px solid rgb(72,72,72);
}

@media (min-width: 1024px) {
  h3 {
    font-size: 16px;
    line-height: 28px;
  }
}

.v--modal {
  border-radius: 6px !important;
}
.v--modal-overlay {
  background: rgba(0, 0, 0, .14) !important; 
}
.dialog-c-title {
  color: var(--color01) !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
.dialog-c-text {
  color: var(--color01) !important;
  font-size: 15px !important;
  line-height: 23px !important;
  padding-bottom: .5rem !important;
}
.vue-dialog-button {
  color: var(--color01) !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}
