.radio {
  position: relative;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 1px solid #dedede;
  background: #fff;
  transition: var(--main-transition);
}
.radio-checkmark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: var(--colorAcomod) !important;
  transition: var(--main-transition);
}