
.vue-simple-suggest.designed {
  position: relative;
}

.vue-simple-suggest.designed, .vue-simple-suggest.designed * {
  box-sizing: border-box;
}

.vue-simple-suggest.designed .input-wrapper input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #cde;
  border-radius: 3px;
  color: black;
  background: white;
  outline:none;
  transition: all .1s;
  transition-delay: .05s
}

.vue-simple-suggest.designed.focus .input-wrapper input {
}

.vue-simple-suggest.designed .suggestions {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  border: 1px solid #dedede;
  background-color: white;
  z-index: 10000;
  font-size: 15px;

}

.vue-simple-suggest.designed .suggestions .suggest-item {
  user-select: none;
}

.vue-simple-suggest.designed .suggestions .suggest-item,
.vue-simple-suggest.designed .suggestions .misc-item {
  padding: 8px 6px;
}

.vue-simple-suggest.designed .suggestions .suggest-item.hover {
  background-color: #3297FD !important;
  color: white;
}

.vue-simple-suggest.designed .suggestions .suggest-item.selected {
  background-color: #3297FD;
  color: white;
}