:root {
  --mobileHeight: 2.3rem;
  --desktopHeight: 2.2rem;
}

.yes-or-no {
  cursor: pointer;
  display: flex;
  height: var(--mobileHeight);
  width: 6rem;
  min-width: 6rem;
  border: 1px solid rgb(222,222,222);
  border-radius: 2rem;
  align-items: center;
  user-select: none;
  margin-left: 1.8rem;
  & .__no {
    flex: 1;
    margin-left: 2px;
    line-height: calc(var(--mobileHeight) - .35rem);
    font-size: 15px;
    text-align: center;
    border-radius: 2rem 0 0 2rem;
  }
  & .__yes {
    flex: 1;
    margin-right: 2px;
    line-height: calc(var(--mobileHeight) - .35rem);
    font-size: 15px;
    text-align: center;
    border-radius: 0 2rem 2rem 0;
  }
  & .is-false {
    background: rgb(242,242,242);
  }
  & .is-true {
    color: white;
    background: var(--colorAcomod);
    font-weight: 500;
  }
}

@media (min-width: 1024px) {
  .yes-or-no {
    height: var(--desktopHeight);
    width: 6.3rem;
    min-width: 6.3rem;
    & .__no {
      margin-left: 2px;
      line-height: calc(var(--desktopHeight) - .35rem);
      font-size: 15px;
    }
    & .__yes {
      margin-right: 2px;
      line-height: calc(var(--desktopHeight) - .35rem);
      font-size: 15px;
    }
    & .is-false {
    }
    & .is-true {
    }
  }
}